doctype html
html(lang="da")
  head
    title testsoftware
    script(src='js/jquery.js')
    script(src='js/skel.js')
    script(src='js/skel-layout.js')
    script(src='js/skel-viewport.js')
    script(src='js/app.js')
  body
    header
      h1 New Site its awesome
    section
    footer
